.bg-red-500 {
    background-color: #EF4444;
}

.border-1 {
    border: 5px solid aqua;
}

.fila {
    background-color: gainsboro;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.grid {
    display: grid;
}