.btn {
	@apply font-bold text-white py-2 px-4 rounded cursor-pointer;
}

.btn-red {
	@apply bg-red-600 hover:bg-red-500;
}

.btn-blue {
	@apply bg-blue-600 hover:bg-blue-500;
}

.btn-green {
	@apply bg-green-600 hover:bg-green-500;
}
